body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

div {
  height: 100vh;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
}

#wrapper {
  position: relative;
}

#loader {
  position: absolute;
  top: 50%;
  left: 48%;
}

#has-doc {
  position: absolute;
  top: 40%;
  left: 35%;
}

#ha-doc #content {
  display: flex !important;
}
/* #ha-doc div img {
  margin-top: 5px;
} */
#has-doc #content h2 {
  text-align: left;
  margin: 0;
  opacity: 0.4;
  font-weight: 600;
  width: 35rem;
  margin-left: 0.5rem !important;
}

#has-error {
  position: absolute;
  top: 40%;
  left: 35%;
}

#ha-error #content {
  display: flex !important;
}
/* #ha-doc div img {
  margin-top: 5px;
} */
#has-error #content h2 {
  text-align: left;
  margin: 0;
  opacity: 0.4;
  font-weight: 600;
  width: 35rem;
  margin-left: 0.5rem !important;
}
